@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

$handwriting: 'Edu SA Hand', cursive;