@import './colors.scss';
@import "./bootstrap.scss";

.image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-image {
        max-width: 800px;
        width: 80%;
    }

    .quote {
        font-family: $handwriting;
        font-size: 30px;
        text-align: center;
        padding: 20px;

        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }

    .carousel {
        .carousel-inner {
            width: 100%;

            .carousel-item {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: auto;
                    width: 100%;
                    object-fit: contain;
                    max-height: 60vh;
                }
            }
        }
    }
}