@import './colors.scss';
@import "./bootstrap.scss";

.mobile-menu-wrapper {
    display: none;
}

@include media-breakpoint-down(md) {
    .mobile-menu-wrapper {
        display: block;
        position: relative;
        overflow: visible;
        background-color: $dark-brown;
        padding: 20px;
        color: $white;

        .inner-menu-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 9999;
            padding-left: 20px;
            background-color: $dark-brown;

            .info-bar-button {
                color: $white;
                width: 100%;
                display: block;
                padding: 10px 0;
            }
        
        
            .info-bar-button:visited,
            .info-bar-button:active {
                text-decoration: none;
                color: $white;
            }
        }

        .inner-menu-wrapper .row {
            width: 100%;
        }

        .inner-menu-wrapper .col {
            flex: 0 0 100%;
        }
    }
}

.info-bar-wrapper {
    background-color: $dark-brown;
    color: $white;
    
    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .info-bar-button {
            color: $white;
            width: 100%;
            padding: 20px 0;
        }
    
    
        .info-bar-button:visited,
        .info-bar-button:active {
            text-decoration: none;
            color: $white;
        }
    }
}


@include media-breakpoint-down(md) {
    .info-bar-wrapper {
        display: none !important;
    }

}