@import './colors.scss';
@import "./bootstrap.scss";

.row-wrapper {
    margin: 10px;

    .service-row {
        background-color: $light-brown;
        padding: 50px;

        .headline {
           

            .svg-wrapper {
                padding-right: 20px;

                svg {
                    height: 50px;
                    width: 50px;
                }
            }

        }

    }

    @include media-breakpoint-down(lg) {
        .service-row {
            display: flex;
            flex-direction: column;
        
            .headline {
                display: flex;
                align-items: center;
                width: 100%;

                .svg-wrapper {
                    width: 50%;
                    text-align: center;
                }

            }
        }
    }
}